*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body,
ul {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

body {
  color: #4d4d4d;
  font: 14px/1.4em 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial, sans-serif;
  background-size: cover;
  background: #F2F6FC;
  font-smoothing: antialiased;
}

ul {
  list-style: none;
}

#chat {
  margin: 20px auto;
  width: 800px;
  height: 600px;
}

#chat {
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

#chat .main,
#chat .sidebar {
  height: 100%
}

#chat .sidebar {
  float: left;
  width: 200px;
  color: #f4f4f4;
  background-color: #2e3238
}

#chat .main {
  position: relative;
  overflow: hidden;
  background-color: #eee
}

#chat .m-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0
}

#chat .m-message {
  height: calc(100% - 10pc - 40px)
}

.main-header {
  width: 100%;
  height: 40px;
  background: #eeeeee;
  margin-left: 50px;
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
}

.main-header__img {
  width: 30px;
}

.main-header span {
  font-size: 20px;
}

.m-card {
  padding: 9pt;
  border-bottom: 1px solid #24272c
}

.m-card header {
  display: flex;
  align-items: center;
}

.m-card footer {
  margin-top: 10px
}

.m-card .avatar,
.m-card .name {
  vertical-align: middle,
}

.m-card .avatar {
  border-radius: 2px;
  cursor: pointer;
}

.m-card .name {
  display: inline-block;
  margin: 0 0 0 15px;
  font-size: 1pc
}

.m-card .search {
  padding: 0 10px;
  width: 100%;
  font-size: 9pt;
  color: #fff;
  height: 30px;
  line-height: 30px;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  outline: 0;
  background-color: #26292e
}

.m-list li {
  padding: 9pt 15px;
  border-bottom: 1px solid #292c33;
  -webkit-transition: background-color .1s;
  transition: background-color .1s;
  position: relative;
}

.m-list li:hover {
  background-color: hsla(0, 0%, 100%, .03)
}

.m-list li.active {
  background-color: hsla(0, 0%, 100%, .1)
}

.anser-uname {
  color: #909399;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.anser-cont {
  color: #C0C4CC;
  font-size: 14px;
}

.anser-del {
  width: 0;
  height: 100%;
  background: #d81e06;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
}

.anser-del img {
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

.anser li:hover .anser-del {
  width: 44px;
}

.anser li:hover .anser-del img {
  width: 20px;
}

.anser p {
  margin: 0;
}

.m-list .avatar,
.m-list .name {
  vertical-align: middle
}

.m-list .avatar {
  border-radius: 2px;
}

.m-list .name {
  display: inline-block;
  margin: 0 0 0 15px
}

.m-text {
  height: 10pc;
  border-top: 1px solid #ddd
}

.m-text textarea {
  padding: 10px;
  height: 100%;
  width: 100%;
  border: none;
  outline: 0;
  font-family: Micrsofot Yahei;
  resize: none
}

.m-message {
  padding: 10px 15px;
  overflow-y: scroll
}

.m-message li {
  margin-bottom: 15px
}

.m-message .time {
  margin: 7px 0;
  text-align: center
}

.m-message .time>span {
  display: inline-block;
  padding: 0 18px;
  font-size: 9pt;
  color: #fff;
  border-radius: 2px;
  background-color: #dcdcdc
}

.m-message .avatar {
  float: left;
  margin: 0 10px 0 0;
  border-radius: 3px
}

.m-message .text {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  max-width: calc(100% - 40px);
  min-height: 30px;
  line-height: 2.5;
  font-size: 9pt;
  text-align: left;
  word-break: break-all;
  background-color: #fafafa;
  border-radius: 4px
}

.m-message .text:before {
  content: " ";
  position: absolute;
  top: 9px;
  right: 100%;
  border: 6px solid transparent;
  border-right-color: #fafafa
}

.m-message .self {
  text-align: right
}

.m-message .self .avatar {
  float: right;
  margin: 0 0 0 10px
}

.m-message .self .text {
  background-color: #b2e281
}

.m-message .self .text:before {
  right: inherit;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #b2e281
}

.login {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0;
  margin-top: 150px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.login-title {
  font-size: 60px;
  text-align: left;
  height: 60px;
  margin: 0;
  padding-left: 60px;
  color: #409EFF;
}

.login-uname {
  margin: 30px 0;
}

.login-cname {
  margin-bottom: 50px;
}

.login-cname,
.login-uname {
  width: 280px;
  /* height: 18px; */
  outline: none;
  padding: 10px;
  border: 2px solid #DCDFE6;
  color: #606266;
  font-size: 17px;
  border-radius: 20px;
  box-sizing: content-box;
  transition: all 0.5s;
}

.login-cname:hover,
.login-uname:hover {
  border: 2px solid #409EFF;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

.login-btn {
  width: 300px;
  height: 42px;
  display: inline-block;
  font-size: 20px;
  outline: none;
  background-color: #409EFF;
  border: 0;
  color: #fff;
  padding: 10px;
  line-height: 21px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.login-btn:hover {
  background: #67C23A;
  color: #0080ff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
}

.c-avatar {
  width: 500px;
  background: #ddd;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.c-avatar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c-avatar li {
  margin: 10px;
  cursor: pointer;
}

.c-avatar img {
  border-radius: 2px;
  object-fit: cover;
  transition: all 0.5s;
}

.c-avatar img:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}